html{
    font-size: 8px;
}

body {
    margin: 0;
}

.heading{
    color: #ffffff;
    font-size: 3em;
    background-color: #8c1515;
    text-align: center;
    margin:0px;
    
}

h1{
    color: #ffffff;
    font-size: 4em;
    background-color: #8c1515;
    text-align: center;
    margin:0px;
    margin-top:0.5em;
}

.head-background{
    background-color: #8c1515;
    width:100%;
    height:10%;
    align-content:space-around;
}

.stick{
    position:sticky;
    top:0;
}

.alignment{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foot{
    position:relative;
    font-size:2em;
    /*left:0;*/
    bottom:0;
    width: 100%;
    background-color:white;
    text-align:center;
    box-sizing:border-box;
}

.triple-box{
    margin:20px;
    margin-right:10px;
    background-color:white;
    height:1250px;
    width:40%;
    border: 2px solid white;
    box-sizing:border-box;
}

.contentbox{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    display:block;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-bottom:20px;
    width:100%;
    height:400px;
    border: 2px solid #000000;
    border-radius: 5px;
    border-color: #8ff3d8;
    background-color: #dcf3ed;
    /*margin-top:20px;*/
    padding:20px;
    box-sizing:border-box;
}

.contentbox-large{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    display:block;
    /*margin-left: auto;
    margin-right: auto;*/
    margin:20px;
    margin-left:10px;
    width:40%;
    height:1240px;
    border: 2px solid #000000;
    border-radius: 5px;
    border-color: #8ff3d8;
    background-color: #dcf3ed;
    /*margin-top:20px;*/
    padding:20px;
    box-sizing:border-box;
}

.abovefoot{
    margin-bottom:100px;
}

a:link, a:visited{
    color:#8c1515;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.button{
    display:block;
    background-color:#8c1515;
    color:white;
    text-align:center;
    font-size: 16px;
    position:relative;
    top:0;
    margin-left:auto;
    margin-right:auto;
}



