html{
    font-size: 8px;
}

body {
    margin: 0;
}

.abovefoot{
    margin-bottom:100px;
}

.head-background{
    background-color: #8c1515;
    width:100%;
    height:10%;
    align-content: space-around;
}

h1{
    color: #ffffff;
    font-size: 4em;
    background-color: #8c1515;
    text-align: center;
    margin:0px;
    margin-top:0.5em;
}

.alignment{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading{
    color: #ffffff;
    font-size: 3em;
    background-color: #8c1515;
    text-align: center;
    margin:0px;  
}

.bluecontainer{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    /*margin:20px;
    margin-left:10px;*/
    width:60%;
    height:1240px;
    border: 2px solid #000000;
    border-radius: 5px;
    border-color: #8ff3d8;
    background-color: #dcf3ed;
    /*margin-top:20px;*/
    padding:20px;
    box-sizing:border-box;
}